<div>
    <h2 id="page-heading">
        <span>Produits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit" [routerLink]="['/produit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Produit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <dx-button text="Press me"></dx-button>
    <div class="table-responsive" *ngIf="produits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Designation</span></th>
            <th><span>Description</span></th>
            <th><span>Image</span></th>
            <th><span>Prix</span></th>
            <th><span>Categorie</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produit of produits ;trackBy: trackId">
                <td><a [routerLink]="['/produit', produit.id, 'view' ]">{{produit.id}}</a></td>
                <td>{{produit.designation}}</td>
                <td>{{produit.description}}</td>
                <td>{{produit.image}}</td>
                <td>{{produit.prix}}</td>
                <td>
                    <div *ngIf="produit.categorie">
                        <a [routerLink]="['../categorie', produit.categorie?.id, 'view' ]" >{{produit.categorie?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'produit', { outlets: { popup: produit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
